/* Позиционирование */
.positioner {
  box-sizing: border-box;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* Блочная модель */

/* Типографика и оформление*/

body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

.bookmarker,
.cart,
.to-order,
.main-navigation a,
.main-pages a,
.service-items a,
.phone-number-footer,
.sorting-option a {
  color: #ffffff;
}


.header-top {
  background-color: #293449;
}

.header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}

.main-header-logo {
  border-bottom: 4px solid #b52933;
  padding: 13px 57px 12px 55px;
  margin: 10px;

  background-color: #ee3643;
  background-image: url("../img/logo-background.jpg");
}

.main-header-logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
  background-image: url("../img/logo-background-hover.jpg");
}

.main-header-logo:focus,
.main-header-logo:active {
  background-color: #ba2732;
  border-color: #8e1e26;
  background-image: url("../img/logo-background-active.jpg");
}

.header-buttons {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.search-field {
  font: inherit;
  background-color: inherit;
  border: none;
  display: block;
}

input::placeholder {
  color: #ffffff;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:active,
.search-field:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.bookmarker:hover,
.cart:hover {
  background-color: #212a3a;
}

.cart-full {
  background-color: #ee3643;
} /*для случая, когда в корзине есть товар*/

.bookmarker:active,
.cart:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.header-top .to-order {
  background-color: #63a63e;
}

.to-order:hover {
  background-color: #5fbb2d;
}

.to-order:active {
  color: rgba(255,255,255,0.5);
  background-color: #518534;
}

.header-authorization,
.site-navigation,
.items-list-main,
.items-list,
.list-brands,
.service-items,
.service-items-inside,
.companies-list,
.site-navigation-1,
.site-navigation-2,
.social-items,
.user-name,
.user-features,
.breadcrumbs,
.brands,
.filter-option,
.sorting-option,
.items-all,
.pagination {
  list-style: none;
  padding: 0;
}

.header-body {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f3f7f9;
  padding-bottom: 60px;
}

.italic {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  width: 197px; /*надо будет исправить*/

  color: #ee3643;
}

.contacts {
  text-align: center;
}

.contacts .adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.contacts a {
  font-size: 21px;
  line-height: 21px;
  padding: 10px 50px 9px 72px;  /* Этот параметр править, наверное, придется с появлением иконки*/

  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-authorization {
  text-align: right;
}

.header-authorization a {
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}

.header-authorization a:hover {
  color: #ee3643;
}

.header-authorization a:active {
  color: rgba(0,0,0,0.3);
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  display: block;
  width: 299px;
  height: 45px;
  vertical-align: middle; /*и снова не работает*/
  margin-left: auto;

  background-color: #ffffff;
}

.user-name a {
  color: #000000;
}

.user-name p::after {

}

.user-name p::before {

}

.user-features a {
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;

  color: #32425c;
}

.user-features {
  text-align: right;
  margin-left: auto;
}

.user-features a:hover {
  color: #ee3643;
}

.user-name a:active,
.user-features a:active {
  color: rgba(0,0,0,0.3);
}

.main-navigation {
  width: 960px;
  height: 60px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: inset 0px -5px #293449;
  /*background-image: url("../img/main-navigation-background.jpg");*/
  /*background-repeat: no-repeat;*/

}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-navigation a {
  display: block;
  height: 60px;
}

.main-navigation li:hover {
  background-color: #293449; /*пока что не сделал дивы по определённым размерам, не знаю, как равномерно место распределить между дивами*/
  color: #ffffff;
}

.main-navigation a:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}

.main-pages {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
}

.main-pages div {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  width: 300px;
  height: 123px;
  margin-left: 20px;
  margin-bottom: 20px; /*потом для самых нижних нужно будет подправить*/
}

.main-pages div:first-child {
  margin-left: 0;
}

.main-pages h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 26px;
  padding-left: 23px;
}

.main-pages a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 27px;
  border-radius: 3px;

  background-color: rgba(0,0,0,0.1);
}

.main-pages a:hover {
  background-color: rgba(0,0,0,0.2);
}

.main-pages a:active {
  background-color: rgba(0,0,0,0.3);
}

.main-pages .slider {
  display: block;
  width: 620px;
  height: 266px;
  margin-left: 0;
}

.materials {
  background-color: #ffbf47;
  /*background-image: url("../img/materials-background.jpg"); тогда и эти фоновые картинки удалять?*/
}

.instrument {
  background-color: #3bbce3;
  /*background-image: url("../img/instrument-background.jpg");*/
}

.equipment {
  background-color: #dc91d8;
  /*background-image: url("../img/equipment-background.jpg");*/
}

.discounts {
  background-color: #8ed78f;
/*  background-image: url("../img/discounts-background.jpg");*/
}

.delivery {
  background-color: #ffc047;
/*  background-image: url("../img/delivery-background.jpg");*/
}

.popular-btn {
  display: block;
  width: 253px;
  height: 38px;
  text-align: center; /*не получается выронять по вертикали ещё*/
}

.red-button,
.slider .red-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border-radius: 2px;
  color: #ffffff;
  background-color: #ee3643; /*для кнопки "открыть каталог" потом подправлю размеры*/
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.polular-items-bar h2,
.polular-brands-bar h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.polular-items-bar,
.polular-brands-bar {
  display: block;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  color: #32425c;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.polular-items-bar {
  margin-top: 53px;
}

.items-list-main {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.list-brands {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.list-brands li {
  width: 220px;
  height: 145px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.list-brands img {
  padding-top: auto;
  padding-bottom: auto;
}

.list-brands li:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.list-brands li:active {
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  background-color: #f4f7f9;
  color: #000000;
}

.service-header {
  padding-top: 68px;
}

.additional h2,
.service-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;

  color: #000000;
  text-transform: uppercase;
}

.service-items li {
  width: 240px;
  height: 61px;
  text-align: left;

  background-color: #32425c;
  box-shadow:
    inset 0px 1px 0px 0px #405069,
    inset -15px 0px 15px -15px #000000; /*Непонятно, как эту тень сделать, она вообще выезжает полоской по вертикали*/
}

.service-items ul::after {
  content: '';
  width: 10px;
  height: 80px;
  background-color: black;
  dislay: block;
}

.service-items-h:hover {
  background-color: #293449;
}

.service-items-h:active {
  background-color: #ffffff;
}

 .service-items-h:active a {
   color: #32425c;
 }

.service-items a {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 23px;
}

.service-items-inside h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

  color: #32425c;
}

.service-items-inside .red-button {
  border: none;
  width: 195px;
  height: 38px; /*Потом доработать изменение состояния*/
}

.additional {
  display: flex;
  justify-content: space-between; /*что-то совсем непонятное произошло с блоком пока что*/
}

.additional p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.additional-company {
  width: 535px;
}

.companies-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}

.additional-company {
  text-align: left; /*надо разнести по сторонам ещё*/
}

.contacts-map {
  text-align: right;
  width: 301px;
}
/*
.contacts-map h2,
.contacts-map p {
  text-align: center;
}*/

.company-info-button {
  padding: 14px 40px 12px 40px;
}

.write-us-button {
  padding: 14px 59px 12px 64px;
}

.footer-top {
  margin-top: 86px;
}

.footer-top {
  background-color: #32425c;
}

.footer-top p,
.footer-top li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  color: #f3f7f9;
}

.site-navigation-1 a {
  color: #f1f5f7;
}
.site-navigation-2 a,
.academy-contacts {
  color: #ffd180;
}

.site-navigation-1 a:hover,
.site-navigation-2 a:hover {
  text-decoration: underline;
}

.site-navigation-1 a:active {
  text-decoration: none;
  color: rgba(241,245,247,0.5);
}

.site-navigation-2 a:active {
  text-decoration: none;
  color: rgba(255,209,128,0.5);
}

.footer-bottom .positioner {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .copyright,
.footer-bottom p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social li {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 50%; /*Иконки пока что криво встали*/
}

.social li:hover,
.social li:active {
  background-color: #ee3643;
}

.academy-contacts:hover {
  text-decoration: underline;
}

.academy-contacts:active {
  text-decoration: none;
  color: #ee3643;
}

    /* Далее для внутренней страницы*/
.breadcrumbs,
.filter-item {
  box-sizing: border-box;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}

.inner-page-main h1 {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  width: 940px;
  height: 89px;
  margin-right: auto;
  margin-left: auto;

  color: #32425c;
  background-color: #f2f6f8;
  background-image: url("../img/perforator-background.png");
}

.filter {
  width: 220px;
}

fieldset h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;

  color: #000000;
}

.filter-option label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  color: #000000;
}

.white-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 13px 39px 14px 38px;

  color: #000000;
}

.items-list h3,
.items-list del,
.items-cards p,
.items-list-main h3,
.items-list-main del,
.items-list-main p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;

  color: #000000;
}

.items-all {
  display: flex;
  flex-wrap: wrap;
}

.items-cards {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.items-all .items-cards:nth-child(3n) {
  margin-right: 0;
}

.items-cards p,
.items-cards del {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  color: #999999;
}

 .items-cards .main-price {
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  color: #ffffff;
  width: 121px;
  height: 38px;
  background-color: #ee3643;
}

.items-cards .main-price::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -19px;
  border: 19px solid #ffffff;
  border-right-width: 0;
  border-left-color: #ee3643;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.items-cards:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.items-cards:hover .card-image {
  display: none;
}

.card-buttons {
  color: #000000;
  display: none;
  width: 218px;
  height: 170px;
  text-align: center;
  text-transform: uppercase;
}

.card-buttons a {
  font-family: "Cuprum", Arial, sans-serif;
  width: 135px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;

  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0px 0px rgba(0,1,1,0.25);
}

.card-buttons a:last-child {
  margin-top: 8px;

  border: 3px solid #63a63e;
  color: #000000;
  background-color: #ffffff;
  box-shadow: none;
}

.card-buttons a:hover {
  background-color: #5fbb2d;
}

.card-buttons a:active {
  background-color: #518534;
}

.card-buttons a:last-child:hover {
  color: #32425c;
  border-color: #32425c;
  background-color: #ffffff;
}

.card-buttons a:last-child:active {
  color: rgba(50,66,92,0.3);
  border-color: rgba(50,66,92,0.3);
  background-color: #ffffff;
}

.items-cards:hover .card-buttons {
  display: block;
}

.items-cards:hover a {
  display: block;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 284px;
  text-align: left;
}

.pagination a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;

  color: #000000;
}

.pagination-current a {
  background-color: #ee3643;
  color: #ffffff;
  border-color: #ee3643;
}

.next-page a {
  padding: 13px 32px 14px 33px;
  text-transform: uppercase;
}

/* Анимация */

/* Разное */
